a {
  text-decoration: none;
  font-size: 12px;
}
a:link {
  color: #486591;
}
a:visited {
  color: #6f6c81;
}
a:active {
  color: blue;
}
body {
  color: #000000;
  background-color: #fefefe;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
}
font {
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
}
h1 {
  color: #000000;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 26px;
}
h2 {
  color: #000000;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 22px;
}
h3 {
  color: #000000;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 20px;
}

select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}

input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

th.blog_ent {
    background-color: #dedede;
    font-size: 13px;
}

th.blog_ent_date {
    background-color: #dedede;
    font-size: 11px;
}

td.blog_link {
   font-size: 13px;
}

td {
   font-size: 12px;
}

img {
    border: 0;
}

p {
   font-size: 12px;
}

li {
   font-size: 14px;
}

div.media {
  float: left;
  min-height: 150px;
  min-width: 150px;
  width:expression(this.scrollWidth < 166? "166px" : "auto" );
  height:expression(this.scrollHeight < 166? "166px" : "auto" );
  padding:3px;
  border-style:ridge;
  margin: 5px;
  background-color: #EBEBFF;
}

div.left {
  float: left;
  width:70px;
}

div.center {
  margin: 0 0 0 100px;
}

div.right {
  float: right;
  width:170px;
}

div.bottom {
  margin-top: 70%;
}

fieldset {
  padding: 1em .5em .5em .5em;
  border: 1px solid #000000;
  width: 98%;
  margin: 5px;
}

legend {
  padding: .2em;
  background-color: #EBEBFF;
  font-weight: bold;
  color: #000000;
  border: 1px solid #000000;
}
